{% extends 'base.html' %}
{% block content %} 

    <form action="" method="GET">
        <p>Search:
        <select id="place" name="place">
            {% for key in data["places"].keys() %}
                <option value="{{key}}">{{data["places"][key]}}</option>
            {% endfor %}
        </select>

        <select id="category" name="category">
            {% for key in data["categories"].keys() %}
                <option value="{{key}}">{{data["categories"][key]}}</option>
            {% endfor %}
        </select>

        <input type="text" name="free"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>


    {% for key in data["posts"].keys() %}
        <div class="card mt-2">
            <div class="card-body">
                <h2>{{data["posts"][key]["title"]}}</h2>
                date: {{data["posts"][key]["date"]}}<br>
                location: {{data["places"][data["posts"][key]["place"]]}}<br>
                category: {{data["categories"][data["posts"][key]["category"]]}}<br>
                price: {{data["posts"][key]["price"]}}$<br>
                contact: {{data["posts"][key]["contact"]}}<br>
                description:<br> {{data["posts"][key]["text"]}}
            </div>
        </div>

    {% endfor %}


{% endblock %}
